# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3

# Environment files
.env
*.env

# Virtual environment folder
venv/
env/
ENV/

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS / Linux / Windows specific
.DS_Store
Thumbs.db


*.cpython-*.pyc